body {
    font-family: Arial, sans-serif;
}

#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.expression {
    margin-bottom: 10px;
}

#add-expression {
    margin-bottom: 20px;
}
